<h2>About Us</h2>

<p>The 12:19 Library was originally conceived by Ron Berry and Phil Soltanoff.  The
project is being developed in conjunction with The Fuse Box Festival and the Austin
Museum of Art.  We have since invited Scott Wilcox to join the creative team to
help spearhead the technology component.</p>

<p>As the project continues to grow and evolve, we are gradually adding more members
to the creative team, which currently includes the following:</p>

<p>
Ron Berry<br/>
Phil Soltanoff<br/>
Scott Wilcox<br/>
Palo Chalupka<br/>
David Rose<br/>
John Erik Metcalf<br/>
</p>


<p><b>BIOS</b></p>

<p style="margin-bottom:2px;"><b>Ron Berry (Austin)</b></p>
<p>Ron Berry has been nominated for and won over 50 awards for his work as an actor,
director, artist and writer. His play Orange was nominated for the American Theater
Critics Association national New Play Award and was deemed by Michael Barnes of
the Austin American-Statesman "the most ambitious play ever produced by an Austin
theater company." His installation, The North Project, was voted the #1 Art Event of
by Robi Polgar of The Austin Chronicle.  As the Artistic Director of Refraction
Arts, Ron has guided the organization through eleven years of critically acclaimed
programming for the stage, gallery and screen.  Their work has been nominated for
and won over 150 awards, their short films have played all over the world, and they
their performances and installations have been voted #1 Art Event of the Year by
the Austin Chronicle four out of the past six years.  Most recently, Ron created the
annual Fuse Box Festival—a ten-day hybrid arts festival presenting innovative
artists from all over the world.</p>

<p style="margin-bottom:2px;"><b>Phil Soltanoff (NYC)</b></p>
<p>Phil Soltanoff is an experimental theatre artist based in New York City. His latest
creation, I/O created in collaboration with sound artist Joe Diebes, premiered at
Theatre Garonne in November 2008. Original and site-specific creations include to
whom it may concern (BITEF), Strange Attractors (Mass MoCA), five movements for
people and sound, TIME/PIECE, wrench, Experimental Actions (Mass MoCA), Peter
Handke’s The Hour We Knew Nothing of Each Otherand LEMNATION (Mass MoCA).
In 1999 Phil Soltanoff teamed with performing artist Hanne Tierney to create five
myles, an alternative performance/exhibition space in Brooklyn, NY. They received
an OBIE Award in 2000. Since 2002, Mr. Soltanoff has created two works in collaboration
with Aurelien Bory and CIE111, based in Toulouse, France. Their two collaborations,
PLAN B and MORE OR LESS, INFINITY have performed at many theatres including Theatre
Garonne (Toulouse), TNT (Toulouse), Kampnagel (Hamburg), Eurokaz Festival (Zagreb),
Trafo (Budapest), Vidy Theatre (Lausanne), Maison de la Danse (Lyon), Queen Elizabeth
Hall (London), Patra Vadi (Bangkok), Theatre de la Ville (Paris), BITEF (Belgrade) and the
New Victory Theatre (NYC). Mr. Soltanoff was nominated for a Moliere Award in 2007.
His work is dedicated in loving memory to his wife, Stephanie Mnookin.</p>

<p style="margin-bottom:2px;"><b>Scott Wilcox (Austin)</b></p>
<p>A Co-Founder of Refraction Arts, Scott is also the Chief Technical Officer for SXSW
Conferences & Festivals. Most recently, Scott worked as an actor in Spencer Parsons'
Complicitly Yours and as a sound artist with Eliot Haynes for Vargas-Suarez Universal's
Mental Blueprints  at Thomas Erben Gallery, New York and Space Station Dystopia:
1939/1964/2001 at Queens Museum of Art, Flushing Meadows Corona Park, New York.</p>