<h2>12:19 FAQ</h2>
<p>
	1) <span class="faQ">Q: Can I submit more than one?</span><br/>
	A: Absolutely! Submit as many as you like. Just be sure and fill in all the appropriate fields upon submission.
</p>
<p>
	2) <span class="faQ">Q: Are there any real rules?</span><br/>
	A: Not really. You're free to interpret the task as you see fit. We only ask that you chronicle specifically 12:19 - 12:20 PM. Your interpretation can take whatever shape or form you wish. It can be as simple or as complex as you want. Pornography or illegal acts will not be posted.
</p>
<p>
	3) <span class="faQ">Q: Why 12:19 PM?</span><br/>
	A: Completely arbitrary. We simply plucked a minute out of the air--it has no intrinsic meaning. We were interested in one little slice of time. (Well, truthfully, 12:19 was the time on the clock when we thought of the project, but you get the idea!)
</p>
<p>
	4) <span class="faQ">Q: How do I see other people's work? How do I see my own work?</span><br/>
	A: Every week we will be selecting a handful of submissions to display for public consumption. These will be posted in our "Staff Pics" section. Then in Feb 2009 we'll launch our full GALLERY which will be home to the full collection of everyone's work. Additionally, we will be hand-picking submissions for the physical library space at the Austin Museum of Art. So basically there are three potential ways your entries can be viewed. But everyone who submits something will be included in our online gallery to be launched in February 2009.
</p>
<p>
	5) <span class="faQ">Q: How can I help?</span><br/>
	A: Tell your friends! The project is created and distributed by YOU the people. It's entirely viral and will only get more interesting as more people participate. It's a public work in the truest sense. So forward this site to friends, post about it in your blogs, link to it from your sites, etc.
</p>
<p>
	6) <span class="faQ">Q: What happens after the Austin Museum of Art exhibition?</span><br/>
	A: We're hoping to travel the Library as it continues to grow and expand. We think the physical space is an important part of the conversation. So hopefully it will be coming to a museum or art gallery near you!
</p>
<p>
	7) <span class="faQ">Q: What is The Fusebox Festival?</span><br/>
	A: The Fusebox Festival is a contemporary art and performance festival in Austin, TX that takes place every April. It features innovative new works of theater, dance, film, visual art and music. For more info, check out: <a href="http://www.fuseboxfestival.com">www.fuseboxfestival.com</a>
</p>
<p>
	8) <span class="faQ">Q: Will my email address be kept private?</span><br/>
	A: Yes. Your email will be kept private and will not be passed along to any third parties. It's simply our way of tracking who is participating.
</p>
<p>
	9) <span class="faQ">Q: What about copyright issues?</span><br/>
	A: All work that is to our site is done so under a Creative Commons/Attribution/Noncommercial/Share Alike license. If you don't agree, don't submit. 
</p>
