<h2>What does 12:19 look like to you?</h2>

<p>We're inviting you to chronicle a single minute of your life, <b>12:19 to 12:20 PM</b>, on any day
of your choosing.  What in particular do you notice?  For instance:  the shape and number
of shoes that pass by, a particular pattern of the stuff in your refrigerator, or the musical
phrasing of car horns, etc.</p>

<p><b>What you record and how you record it is up to you!</b>  Make some sort of image....
a photo, a video, an audio file, a text file, a map, whatever you like.  It's your observation, 
it's your minute.</p>

<p>Maybe you'll simply make a record of what you did&#151;a webcam video of you typing
an email, or the text of the email itself, or a photo of the lips you kissed, or a map
showing the path where you walked your dog.  Or maybe, instead, you'll record your
observations of the world during that minute: Taking photos of everybody who walks
by, or making a minute&#151;long recording of the sound of your local coffee shop , or
producing a video montage of what your cat did for a minute, or perhaps you'll make
a diagram of your breathing during this minute....</p>

<p><b>We'll store your Minute here, along with Minutes of people around the world.</b>  
You're free to submit as many as you like, it's completely up to you! The resulting "library"
provides an opportunity to peer into a thousand lives.  To find connections and draw
distinctions.  To discover extraordinary insights in ordinary moments.  To catch a
glimpse of the infinite in the finite--the universe on the tip of a pin.</p>

<p>The 12:19 Library will both exist online and in real space, premiering at the Austin
Museum of Art in April 2009 as part of the Fuse Box Festival.  The online gallery
will launch in February 2009.  In the interim we'll be posting staff favorites each week,
so be sure and check back.</p>

<p>We hope you join us!</p>