<h2>What does 12:19 sound like to you?</h2>

<p>We're inviting you to chronicle a single minute of your life, 12:19 to 12:20 PM, on any day of your choosing. Just that one minute.</p>

<p>Specifically, we'd like for you to make an audio recording of what you hear from precisely 12:19-12:20PM.</p>

<p>To upload the file, click on "contribute a minute":</p>

<p>Label it with the location and date and hit submit.  If you can't make a recording, then write a description of all sounds heard between exactly 12:19-12:20 and submit that.</p>

<h2>Or use your phone to record your minute by calling (512) 524-9772 at 12:19.</h2>

<p>Just call the number, leave your name, location and record your life for 1 minute. You can submit as many times as you like.</p>

<p style="font-weight:bold;">The resulting "library" provides an opportunity to peer into a thousand lives and to discover extraordinary insights in ordinary moments.</p>

<p>The library will exist both online and in real space, traveling to different cities around the country, beginning with the Austin Museum of Art in April 2009 as part of the Fusebox Festival.</p>

<p style="margin-top:20px">Feel free to pass this along to friends!</p>