<h2>What does 12:19 look like to you?</h2>

<p>We're inviting you to chronicle a single minute of your life, 12:19 to 12:20 PM, on any day of your choosing. <b>Just that one minute.</b></p>

<p>What in particular do you notice?</p>

<p>What you record and how you record it is up to you.  Make some sort of image...a photo, a video, an audio file, a text file, a map, whatever you like. It's your observation, it's your minute. </p>

<h2 style="margin-top:28px;line-height:24px;">We'll store your Minute here, <br/>along with others from around the world.</h2>

<p style="font-weight:bold">The resulting "library" provides an opportunity to peer into a thousand lives and to discover extraordinary insights in ordinary moments. </p>

<p>The library will exist both online and in real space, traveling to different cities around the country, beginning with the Austin Museum of Art in April 2009 as part of the Fuse Box Festival.  </p>

<p style="margin-top:20px">We hope you join us!</p>