<h1>Thank you for contributing to 1219!</h1>

<p>Thanks so much for your submission!</p>

<p>Check back for updates and our weekly staff picks.  We'll be launching the online gallery in February 2009, at which time you'll be able to view your own work as well thousands of others.</p>  

<p>In the meantime, pass the website along to friends and family.  The Library will only get more interesting the more people who participate.</p>  

<p>Also, feel free to submit more minutes.  We're interested in your experiences and your response to this task.</p>

<p>Thanks again!</p>

<p>Sincerely,</p>


<p>Ron, Phil and Scott<br/>
& The 12nineteen Team</p>