<div class="span-20 header last"><a href="/"><img src="/images/header.png" border=0 height=72/></a></div>
<div class="span-20 topnav last">
	<div class="topnavbt" onclick="location.href='/updates';" onmouseover="changeColor(this, '#8BAABE');" onmouseout="changeColor(this, '#fff');">Get Updates</div>
	<div class="topnavbt" onclick="location.href='/library/staffpics';" onmouseover="changeColor(this, '#8BAABE');" onmouseout="changeColor(this, '#fff');">Staff Pics</div>
	<div class="topnavbt" onclick="location.href='/faq';" onmouseover="changeColor(this, '#8BAABE');" onmouseout="changeColor(this, '#fff');">FAQ about 12:19</div>
	<div class="topnavbt" onclick="location.href='/about';" onmouseover="changeColor(this, '#8BAABE');" onmouseout="changeColor(this, '#fff');">About Us</div>
</div>